{% extends 'main/layout.html' %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/letter.css' %}">
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script src="{% static 'main/js/header.js' %}"></script>
{% endblock %}

{% block header %}
<nav class="navigation-bar">
  <div class="logo"><a href="{% url 'dashboard' %}"><img src = "{% static 'main/img/logo_black.svg' %}" alt="Logo"/></a></div>
  <div class="navigation-bar-links flex-center">
    <ul>
      {% if user.is_authenticated %}
        <li><a href="{% url 'repeat_words' %}">Repeat words</a></li>
        <li><a href="{% url 'add_word' %}">Add word</a></li>
        <li><a href="{% url 'wright_text' %}">Wright text</a></li>
        <li><a href="{% url 'my_words' %}">My words</a></li>
        {% if user.is_superuser %}
          <li><a class="options" href="/admin/">Admin</a></li>
        {% endif %}
      {% else %}
        <li><a href="{% url 'try_me' %}">Try me</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="navigation-bar-links">
    <ul>
      {% if user.is_authenticated %}
        <li><a class="options" href="{% url 'signout' %}">Sign out</a></li>
      {% else %}
        <li><a class="options" href="{% url 'signin' %}">Sign in</a></li>
        <li><a class="options" href="{% url 'signup' %}">Sign up</a></li>
      {% endif %}
    </ul>
  </div>
  <a class="hamburger-menu-btn" onclick="activateMenuToggle()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
</nav>
{% endblock %}
