{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        {% block css %} {% endblock %}
        {% block scripts %} {% endblock %}

        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
{#        {% block header %} {% endblock %}#}
        Hello, this is main text
    </body>
</html>